#grid__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: calc(100% - 4rem);
  gap: 1rem;
  box-sizing: border-box;

  @media (width < 1080px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width < 720px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width < 560px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid__component__container {
  padding: 2rem;
  border: 1px #fff3 solid;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
  background: #223;

  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(10) {
    grid-column: span 2;
  }

  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1rem #fff8;
  }
}
