.image__component__container {
	display: flex;
	flex-direction: column;
	border-radius: 1rem;
	padding: 1rem;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;

	@media (width < 560px) {
		width: 100%;
	}
}

.image__component__title {
	font-weight: 700;
	color: #111;
	font-size: 1.3rem;
}

.image__component__image {
	max-height: auto;
}
