.phone__component__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-row: span 2;
	padding: 2rem;
	background: linear-gradient(#23aa23 0%, #236623 75%, #23aa23 100%);
	border-radius: 1rem;
	box-sizing: border-box;
	
	@media (width < 720px) {
		grid-column: span 1;
	}
}

.phone__component__top {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.phone__component__phone__logo,
.phone__component__phone__os {
	display: flex;
	flex-direction: column;
	font-weight: 600;
	font-size: 1rem;
	border-radius: 1rem;
	box-shadow: 0 4px 8px #0006;
	min-width: 64px;
	align-items: center;
	padding: .25rem;

	& img {
	}
}
