.twitch__component__container {
	border-radius: 1rem;
	border: 5px #66f solid;
	box-shadow: inset 0 0 8px #66f;
	display: flex;
	gap: 1.5rem;
	justify-content: start;
	align-items: center;
	background-color: #ccf;
	padding: 1rem 3rem;
	grid-column: span 2;
	box-sizing: border-box;

	@media (width < 720px) {
		grid-column: span 1;
		width: 100%;
		padding: 1rem;
	}
}

.twitch__component__logo {
	width: 96px;
}

.twitch__component__logo__image {
	filter: drop-shadow(4px 4px 2px #66f6);
	vertical-align: middle;

	@media (width < 560px) {
		width: clamp(3rem, 2.5vw, 4rem);
	}
}

.twitch__component__text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.twitch__component__text__title {
	font-weight: 800;
	font-size: 2rem;
	text-shadow: 0 4px 5px rgba(128, 128, 255, 1);
	background-clip: text;
	font-style: italic;

	@media (width < 720px) {
	font-size: clamp(1.4rem,1rem,5rem);
    }
}

.twitch__component__text__follower {
	font-size: 1.25rem;
	font-weight: 700;
	text-shadow: 0 4px 5px rgba(128, 128, 255, 1);

	@media (width < 720px) {
		font-size: 1rem;
	}
}
