.twitter__component__container {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	border-radius: 1rem;
	padding: 2rem;
	background: linear-gradient(#1d9bf0 0%, #0c3857 100%);
	grid-row: span 2;
	box-sizing: border-box;
	
	@media (width < 720px) {
		grid-column: span 1;
	}

}

.twitter__component__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.twitter__component__logo__image {
    vertical-align: middle;
	@media (width < 560px) {
		width: clamp(2rem, 2vw, 3rem);
	}
}

.twitter__component__username {
	display: flex;
	align-items: center;
}

.twitter__component__username__text {
	font-size: .85rem;
}

.twitter__component__tweet {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.twitter__component__tweet__text::before,
.twitter__component__tweet__text::after {
	content: "\"";
}

.twitter__component__tweet__text {
	font-style: oblique;
	font-weight: bold;
	line-height: 1.5rem;
	font-size: 1rem;
}
