.youtube__component__container {
	display: grid;
	place-items: center;
	padding: 1rem;
	border: 1px #000 solid;
	border-radius: 1rem;
	background: linear-gradient(#faa 0%, #f88 100%);
	gap: 1rem;
	user-select: none;
	grid-column: span 2;
	
}

.youtube__component__inner {
	display: grid;
	grid-template-columns: 2fr 2fr;
	background: linear-gradient(#a00 0%, #700 100%);
	align-items: center;
	gap: 1rem;
	border-radius: 1rem;
	padding: 1rem;
	width: 75%;
	box-shadow: 0 3px 8px rgba(128,0,0,0.5);
}

.youtube__component__logo__image {
	width: 128px;
}

.youtube__component__text__subscribers {
	align-self: start;
	font-size: 3rem;
	font-weight: 700;
}
