---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/credit-card.css";
import GridComponent from "../components/GridComponent.astro";
import CreditCardComponent from "../components/CreditCardComponent.astro";
import IncomeComponent from "../components/IncomeComponent.astro";
import PodcastComponent from "../components/PodcastComponent.astro";
import ImageComponent from "../components/ImageComponent.astro";
import TwitchComponent from "../components/TwitchComponent.astro";
import YouTubeComponent from "../components/YouTubeComponent.astro";
import DateTimeComponent from "../components/DateTimeComponent.astro";
import SystemInfoComponent from "../components/SystemInfoComponent.astro"
import TwitterComponent from "../components/TwitterComponent.astro"
import PhoneComponent from "../components/PhoneComponent.astro"
---

<!doctype html>
<html lang="es">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <h1>Astro Bento Grid</h1>
        <main id="grid__container">
            <CreditCardComponent
                titular="Federico Jimenez Losantos"
                saldo="13000"
            />
            <IncomeComponent amount="950" />
            <PodcastComponent
                titulo="Todopoderosos"
                episodio="TODOPODEROSOS #103 Akira Kurosawa y el pasodoble. (Kurosawa Vol. I)"
                imagen="https://img-static.ivoox.com/index.php?w=145&h=145&url=https://static-1.ivoox.com/canales/2/1/6/1/5661525711612_XXL.jpg"
            />
            <ImageComponent
                src="/astro-bento-grid/grafico.webp"
                alt="Uso de frameworks en España"
            />
            <TwitchComponent newFollower="momotamomo" />
            <YouTubeComponent subscribers="9600" />
            <DateTimeComponent locale="es-es" />
	    <SystemInfoComponent />
	    <TwitterComponent />
            <GridComponent title="Componente 1" />
	    <PhoneComponent />
            <GridComponent title="Componente 3" />
            <GridComponent title="Componente 4" />
        </main>
    </body>
</html>
