---
const { locale } = Astro.props;
import "../styles/datetime.css";
let fecha = new Date();
---
<script src="../reloj.ts">
</script>

<section class="datetime__component__container">
  <div class="datetime__component__time">
    <span id="clock" class="datetime__component__time__numbers"></span>
  </div>
  <div class="datetime__component__date">
    <time
      class="datetime__component__date__strings"
      datetime={fecha.toISOString()}
    >
      {
        fecha.toLocaleDateString(locale, {
          year: "numeric",
          month: "long",
          day: "numeric",
        })
      }
    </time>
  </div>
</section>
