---
const {title} = Astro.props
import "../styles/grid.css"
---
<section class="grid__component__container">
    <div class="grid__component__title">
        <h4>{title}</h4>
    </div>
    <div class="grid__component__text">
        <p>
            Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
        </p>
    </div>
</section>
