---
import { Image } from "astro:assets";
import "../styles/phone.css";
---
<section class="phone__component__container">
	<div class="phone__component__top">
	    <div class="phone__component__phone__logo">
		<Image class="phone__component__phone__logo__image" src="/astro-bento-grid/poco-logo.svg" width="50" height="50" alt="Phone Logo" />
		<span class="phone__component__phone__logo__text">POCO F1</span>
	    </div>
	    <div class="phone__component__phone__os">
		<Image class="phone__component__phone__logo__image" src="/astro-bento-grid/android-logo.svg" width="25" height="25" alt="Android Logo" />
		<span class="phone__component__phone__logo__text">10</span>
	    </div>
	</div>
</section>
